@model MVC_Thehegeo.Models.BlogModels.Post

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>All form elements <small>With custom checbox and radion elements.</small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form asp-action="Edit" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input asp-for="Title" type="text" class="form-control">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- <div class="form-group"><label class="col-sm-2 control-label">Content</label>
        <div class="col-sm-10"><input asp-for="Content" type="text" class="form-control">
        <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div> -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Image</label>
                        <div class="col-sm-10">
                            <input asp-for="Image" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">UserName</label>
                        <div class="col-sm-10">
                            <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.ListCategories,"Id","Name"))"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">UserName</label>
                        <div class="col-sm-10">
                            <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(ViewBag.ListUsers,"Id","UserName"))"></select>
                        </div>
                    </div>

                    <!-- Editor -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Content</label>
                        <div class="col-sm-10">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content no-padding">
                                    <textarea asp-for="Content" type="text" class="summernote">
                                        </textarea>
                                </div>
                            </div>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Editor -->
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white" type="button">Cancel</button>
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- SUMMERNOTE -->
    <script src="~/Admin/js/plugins/summernote/summernote.min.js"></script>

    <script>
        $(document).ready(function(){

            $('.summernote').summernote();

       });
    </script>
}