@model MVC_Thehegeo.Models.ApplicationUser
<li class="nav-header">
    <div class="dropdown profile-element"> <span>
        <img alt="image" class="img-circle" src="~/Admin/img/profile_small.jpg" />
            </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">@Model.UserName</strong>
            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="profile.html">Profile</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="mailbox.html">Mailbox</a></li>
            <li class="divider"></li>
            <li><form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="glyphicon glyphicon-log-out">Logout</button>
               </form></li>
        </ul>
    </div>
    <div class="logo-element">
        IN+
    </div>
</li>